{% extends 'layouts/main.html' %}
{% block title %}New York{% endblock %}
{% block content %}


<div class="page-header">
  <h1>{{cityName}},{{country}} <br> {{localtime}} </h1>
  <h2>{{request.form['text']}}    {{condition}}        <br>  Temperature: {{temp_c}}°C   </h2>
</div>
<p class="lead"></p>
<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   <script type="text/javascript">
    google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Humidity (%)', {{humidity}}],
        ['Precipitation (mm)', {{precipitation}}],
        ['Wind (kp/h)', {{wind}}],
        ['Pressure (in)', {{pressure}}],
        ]);

        var options = {
          width: 1100, height: 450
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 300px; height: 200spx;"></div>
  </body>
</html>

{% endblock %}